.col-full {
  width: 100%;
}

.row {
  width: 100%;
  display: flex;
}

.home-container,
.profile-container,
.profitability-container,
.liquidity-container,
.solvency-container,
.valuation-container {
  display: flex;
  flex-wrap: wrap;
}
