.col-full {
  width: 100%;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.home-container {
  display: flex;
  flex-flow: column nowrap;
}

.chart-container {
  display: flex;
  justify-content: center;
}

.tab-container {
  display: flex;
  justify-content: center;
  position: relative;
  margin: 0 auto;
  width: 100%;
}

.dropdown-container {
  display: flex;
  justify-content: center;
  text-align: center;
  margin: 0 auto;
  margin-top: 40px;
}

.choose-views-container {
  width: 100%;
}
