body {
  height: 100vh;
}

header {
  background-color: navy;
  margin-bottom: 20px;
}

.header-button-container {
  display: flex;
  align-items: flex-start;
}

.header-button {
  background-color: navy;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

img {
  height: 200px;
  width: 150px;
  margin: 0 auto;
  margin-top: 150px;
}

h1,
h2,
li {
  font-family: Roboto, arial, sans-serif;
  font-weight: normal;
}

h1 {
  margin-left: 10px;
  color: white;
}

h2 {
  text-align: center;
  margin-top: 40px;
  font-weight: bolder;
}

ul {
  list-style-type: none;
  line-height: 32px;
}

li {
  display: inline;
}

.chart-buttons {
  display: inline-block;
}

.profile-data,
.profitability-data,
.liquidity-data,
.solvency-data,
.valuation-data {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  margin-right: 40px;
}

.chart-button {
  color: white;
  background-color: navy;
  margin-left: 20px;
  margin-right: 20px;
  cursor: pointer;
}

#stock-search-input {
  text-align: center;
  width: 200px;
  height: 30px;
  margin: 0 auto;
  margin-top: 30px;
}

canvas#dailyPriceChart {
  display: block;
  box-sizing: border-box;
  margin: 0 auto;
  height: 350px;
  width: 350px;
  margin-top: 20px;
  margin-bottom: 20px;
  border: solid 1px navy;
}

canvas#intraDayPriceChart {
  display: block;
  box-sizing: border-box;
  margin: 0 auto;
  height: 350px;
  width: 350px;
}

.find-button {
  width: 100px;
  height: 30px;
  background-color: navy;
  color: white;
  cursor: pointer;
  margin: 0 auto;
  margin-top: 30px;
  display: block;
}

.tab {
  padding: 0.75rem 1.5rem 0.5rem;
  margin-right: 5px;
  margin-left: 5px;
  cursor: pointer;
  font-size: 1.25rem;
  font-family: Roboto, arial, sans-serif;
  background-color: orange;
  color: white;
}

.tabbed-views {
  display: flex;
  width: 100%;
  margin: 0 auto;
  margin-top: 40px;
  background-color: #b3fc99;
}

.tab-container {
  display: flex;
  justify-content: center;
  position: relative;
  top: 1px;
  margin: 0 auto;
  background-color: #b3fc99;
}

.home-container {
  display: flex;
  flex-flow: column nowrap;
}

form#symbol-form {
  justify-content: center;
}

@media only screen and (max-width: 805px) {
  .tabbed-views {
    display: none;
  }
}

@media only screen and (min-width: 805px) {
  .dropdown-container {
    display: none;
  }
}

.hidden {
  display: none;
}
