header {
  background-color: navy;
}

h1 {
  color: white;
  font-family: Roboto, arial, sans-serif;
  font-weight: normal;
}

h2 {
  text-align: center;
  margin-top: 40px;
}

ul {
  list-style-type: none;
}

.profile-data {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  margin-right: 40px;
}

input#stock-search-input {
  position: fixed;
  top: 50%;
  right: 43%;
  text-align: center;
}

canvas#dailyPriceChart {
  display: block;
  box-sizing: border-box;
  margin: 0 auto;
  height: 500px;
  width: 500px;
}

.find-button {
  position: fixed;
  bottom: 40%;
  right: 43%;
  text-align: center;
  width: 100px;
}

.tab {
  padding: 0.75rem 1.5rem 0.5rem;
  border-right: 1px solid;
  border-left: 1px solid;
  border-radius: 0;
  cursor: pointer;
  font-size: 1.25rem;
  font-family: Roboto, arial, sans-serif;
  background-color: #b3fc99;
}

.tabbed-views {
  width: 100%;
  margin: 0 auto;
  display: flex;
  margin-top: 40px;
  background-color: #b3fc99;
}

.tab-container {
  display: flex;
  justify-content: center;
  position: relative;
  top: 1px;
  margin: 0 auto;
}

.view {
  display: flex;
}

.hidden {
  display: none;
}
