header {
  background-color: navy;
}

h1 {
  color: white;
  font-family: Roboto, arial, sans-serif;
  font-weight: normal;
}

h2 {
  text-align: center;
}

ul {
  list-style-type: none;
  justify-content: center;
}

.profile-data {
  text-align: center;
}

input#stock-search-input {
  position: fixed;
  top: 50%;
  right: 43%;
  text-align: center;
}

canvas#dailyPriceChart {
  display: block;
  box-sizing: border-box;
  height: 400px;
  width: 400px;
}

.find-button {
  position: fixed;
  bottom: 40%;
  right: 43%;
  text-align: center;
  width: 100px;
}

.tab {
  padding: 0.75rem 1.5rem 0.5rem;
  border: solid;
  border-top-right-radius: 0.25rem;
  border-top-left-radius: 0.25rem;
  cursor: pointer;
  font-size: 1.25rem;
  font-family: Roboto, arial, sans-serif;
  background-color: #b3fc99;
}

.tabbed-views {
  width: 100%;
  margin: 0 auto;
  display: flex;
}

.tab-container {
  display: flex;
  justify-content: center;
  position: relative;
  top: 1px;
  margin: 0 auto;
}

.view {
  display: flex;
}

.hidden {
  display: none;
}
